<nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
  <div class="container">

    <a
      class="navbar-brand"
      routerLink="/"
      title="Home"
    >
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/1/1e/RPC-JP_Logo.png"
        width="60"
        alt="logo"
      >
      Hoaxify
    </a>

    <ul class="navbar-nav">
      <a
        class="nav-link"
        routerLink="/signup"
        title="Sign Up"
      >Sign Up</a>
      <a
        class="nav-link"
        routerLink="/login"
        title="Login"
      >Login</a>
    </ul>

  </div>
</nav>
