<div
  *ngIf="!signUpSuccess; else successMessage"
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-3"
>
  <div
    class="card"
    data-testid="form-sign-up"
  >
    <div class="card-header text-center">
      <h1>Sign Up</h1>
    </div>
    <form
      class="card-body"
      [formGroup]="form"
      (ngSubmit)="onClickSignUp()"
    >
      <div class="mb-3">
        <label
          class="form-label"
          for="username"
        >Username</label>
        <input
          class="form-control"
          [class.is-invalid]="usernameError"
          formControlName="username"
          id="username"
          placeholder="Username"
        />
        <div
          *ngIf="usernameError"
          class="invalid-feedback"
          data-testid="username-validation"
        >{{ usernameError }}</div>
      </div>
      <div class="mb-3">
        <label
          class="form-label"
          for="email"
        >E-mail</label>
        <input
          [class.is-invalid]="emailError"
          formControlName="email"
          class="form-control"
          id="email"
          placeholder="E-mail"
        />
        <div
          *ngIf="emailError"
          class="invalid-feedback"
          data-testid="email-validation"
        >{{ emailError }}</div>
      </div>
      <div class="mb-3">
        <label
          class="form-label"
          for="password"
        >Password</label>
        <input
          [class.is-invalid]="passwordError"
          formControlName="password"
          class="form-control"
          id="password"
          type="password"
        />
        <div
          *ngIf="passwordError"
          class="invalid-feedback"
          data-testid="password-validation"
        >{{ passwordError }}</div>
      </div>
      <div class="mb-3">
        <label
          class="form-label"
          for="passwordRepeat"
        >Password Repeat</label>
        <input
          [class.is-invalid]="getPasswordRepeatError"
          formControlName="passwordRepeat"
          class="form-control"
          id="passwordRepeat"
          type="password"
        />
        <div
          *ngIf="getPasswordRepeatError"
          class="invalid-feedback"
          data-testid="passwordRepeat-validation"
        >{{ getPasswordRepeatError }}</div>
      </div>
      <div class="text-center">
        <app-button
          [apiProgress]="apiProgress"
          [disabled]="isDisabled()"
        >Sign Up</app-button>
      </div>
    </form>
  </div>
</div>
<ng-template #successMessage>
  <app-alert text="Please check your e-mail to activate your account"></app-alert>
</ng-template>
