<div
  *ngIf="!signUpSuccess; else successMessage"
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-3"
>
  <div
    class="card"
    data-testid="form-sign-up"
  >
    <div class="card-header text-center">
      <h1>Sign Up</h1>
    </div>
    <form
      class="card-body"
      (submit)="onClickSignUp(); $event.preventDefault()"
    >
      <div class="mb-3">
        <label
          class="form-label"
          for="username"
        >Username</label>
        <input
          class="form-control"
          id="username"
          placeholder="Username"
          (input)="onChangeUsername($event)"
        />
      </div>
      <div class="mb-3">
        <label
          class="form-label"
          for="email"
        >E-mail</label>
        <input
          class="form-control"
          id="email"
          placeholder="E-mail"
          (input)="onChangeEmail($event)"
        />
      </div>
      <div class="mb-3">
        <label
          class="form-label"
          for="password"
        >Password</label>
        <input
          class="form-control"
          id="password"
          type="password"
          (input)="onChangePassword($event)"
        />
      </div>
      <div class="mb-3">
        <label
          class="form-label"
          for="passwordRepeat"
        >Password Repeat</label>
        <input
          class="form-control"
          id="passwordRepeat"
          type="password"
          (input)="onChangePasswordRepeat($event)"
        />
      </div>
      <div class="text-center">
        <button
          class="btn btn-primary"
          [disabled]="disabled || apiProgress"
        >
          <span
            *ngIf="apiProgress"
            class="spinner-border spinner-border-sm"
            role="status"
          ></span>
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
<ng-template #successMessage>
  <div class="alert alert-success">Please check your e-mail to activate your account</div>
</ng-template>
